<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.bgp.dao.mapper.GroupMapper" >
    <sql id="Base_Column_List" >
        id,market_id,group_name,current_count,start_time,end_time,banner,finish,created_time,modifed_time
    </sql>

    <select id="getGroupList" resultType="com.sf.bgp.dao.domain.Group" >
          select <include refid="Base_Column_List" /> from  pro_group_base <![CDATA[ WHERE finish = 0 AND start_time < now() AND end_time > NOW() ]]>
    </select>

    <select id="getGroupDetailsById" resultType="com.sf.bgp.domain.Group" >
        select <include refid="Base_Column_List" /> from  pro_group_base WHERE id = #{id}
    </select>

    <select id="getGroupUserByGroupId" resultType="com.sf.bgp.domain.GroupUser" >
        select group_id,user_id from  pro_group_user WHERE group_id = #{group_id}
    </select>

    <insert id="addGroupUser" parameterType="com.sf.bgp.domain.GroupUser">
        insert into pro_group_user(group_id,user_id,address_1,address_2,name,mobile,expect_sum,avg_weight,created_time)  values (#{group_id},#{user_id},#{address_1},#{address_2},#{name},#{mobile},#{expect_sum},#{avg_weight},now())
    </insert>

    <select id="getExpireGroup" resultType="com.sf.bgp.domain.Group" >

        select <include refid="Base_Column_List" /> from  pro_group_base <![CDATA[ WHERE finish = 0 AND end_time <= NOW();]]>

    </select>

    <insert id="addGroup" parameterType="com.sf.bgp.domain.Group">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into pro_group_base(market_id,group_name,current_count,start_time,end_time,banner,created_time) values (#{market_id},#{group_name},#{current_count},#{start_time},#{end_time},#{banner},now())
    </insert>

    <update id="updateFinishStatus">
       UPDATE pro_group_base SET finish = #{finish},modifed_time = now()   WHERE id = #{id} AND finish = 0
    </update>
</mapper>
